/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #f3e6ff, #e6f3ff, #ffe6f3);
    animation: gradient 10s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

/* Button styles */
.animated-button {
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%; /* Button width to full */
    transition: background-color 0.3s, transform 0.3s; /* Added transition for smoother effects */
}

.animated-button:hover {
    transform: translateY(-2px);
}

/* New styles for Open Attachments button */
button#openAttach {
    background-color: #28a745;
    color: white;
}

button#openAttach:hover {
    background-color: #218838;
}

/* Logo styling */
.logo {
    width: 120px; /* Increased logo size */
    height: auto; /* Maintain aspect ratio */
}

/* Close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
}
